# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.history/
 
**/credentials.json
**/client_secrets.json
 
node_modules/
 
.DS_Store
 
*.log
 
instance/

target/
 
__pypackages__/
 
.env
.venv
env/
venv/

*.exe

package-lock.json